*{
	margin: 0;
	padding: 0;
}

body {

	max-width: 100vw;
	min-height: 100vh;
	/*Conteneur flex en colonne*/
	display: flex;
	flex-direction: column;
	background-image: url(../img/bg.png);
	background-size: cover;
}

.global {
	
	max-width: 100vw;
	/*Propriété comme item flex*/
	flex: 1 0 100%;
	/*Conteneur flex en rangée*/
	display: flex;
	/*Poussée vers la gauche pour ne pas voir le menu*/
	transform: translateX(100%);
	/*Effet de transition sur la transformation*/
	transition: transform 1s;
	/*	overflow-x: hidden; */
	}

	.boutonBurger {
		background: linear-gradient(to bottom, rgb(190, 124, 0) 0%, rgb(190, 124, 0) 20%, transparent 20%, transparent 40%, rgb(190, 124, 0) 40%, rgb(190, 124, 0) 60%, transparent 60%, transparent 80%, rgb(190, 124, 0) 80%, rgb(190, 124, 0) 100%);
		height: 48px;
		width: 48px;
		margin: 1%;
		display: inline-block;
		cursor: pointer;
		/*Effet de transition sur la rotation*/
		transition: transform 1s;
	}

	.menu {
		background-color : $color__menu-nav;
		position: fixed;
		display: flex;
		
	}
	.gauche>a{
		font-size: 1.2em;
	}
	.mot>div{
		font-size: 1.3em;
	}


		#chkBoutonBurger:checked~.global {
			transform: translateX(0%);
		}

		#chkBoutonBurger:checked~.boutonBurger {
			transform: rotate(90deg);
		}

		#chkBoutonBurger {
			display: none;
		}



.sidebar {
	grid-area: sidebar;
}

.sidebar2 {
	grid-area: sidebar2;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}

.conteneur {
	//background-color: #fff;
	color: #444;
}
/* conteneur est un élément flex et en même temps un conteneur grid */
.conteneur {
		/*Sa largeur est fixée à 100%*/
		width: 100vw;
		/*Propriété comme item flex - ne peut rétrécir*/
		flex: 1 0 100%;
		/*Conteneur flex en colonne pour ses enfants*/
		flex-flow: column nowrap;
		overflow-x: hidden;
		overflow-y: auto;

		display: grid;
		width : 100vw;
		grid-gap: 1em;
		grid-template-areas:
			"header"
			"sidebar"
			"content"
			"sidebar2"
			"footer"
}

.texteApparaissant{
	position: fixed;
	left: 20vw;
	z-index:-2;

}

@media only screen and (min-width: 500px) {
	.conteneur {

		grid-template-columns: 20% auto;
		grid-template-areas:
			"header   header"
			"sidebar  content"
			"sidebar2 sidebar2"
			"footer   footer";

		min-width: 500px;
	}

	.texteApparaissant{
		left: 25vw;
	}

	
	.gauche{
		margin-left: 2vw;
		margin-top: 3vh;
		width: 10px;
	}
	.droite{
		margin-left: 2vw;
		margin-top: 1vh;
	   width: 10px;
   }
   .droite>a{
	   font-size: 1.2em;
   }
}

.texteApparaissant:nth-of-type(2){
	top: 40vh;
	font-size: 1.6em;
}
.texteApparaissant:nth-of-type(3){
	top: 50vh;
	font-size: 1.4em;
}


@media only screen and (min-width: 900px) {
	.texteApparaissant{
		left: 40vw;	
	}
	.boutonBurger {
		display: none
	}

	.global {
		/* Placer à sa potition d'origine */
		transform: translateX(0%);
		/*Mettre le contenu en colonne*/
		flex-direction: column;
	}

	.menu {
	
		/*Affichage du menu en rangée*/
		flex-direction: row;
		justify-content: space-between;
		left: 0;
		right: 0;
		top: 0;
		height: 8vh;
		width: 100vw;
		align-items: center;
		 a {
				border: none;
				/*Propriété comme item flex - peut s'étirer en largeur*/
				flex: 1 0 auto;
		

		 &:first-child {
				border-top: none;
			}
		 }	
		 .gauche{
			margin-top: 0vh;
			width: 400px;
			 margin-left: 1.5vw;
		 }
		 .droite{
			margin-left: 0vw;
			margin-right: 1.5vw;
			width: 500px;
		}
		.droite>a:hover{
			background-color: rgb(128, 83, 0);
		}
	}

	.conteneur {
		grid-gap: 20px;
		grid-template-columns: 120px auto 120px;
		grid-template-areas:
			"header  header  header"
			"sidebar content sidebar2"
			"footer  footer  footer";
		max-width: 100%;
	}
}

.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 150%;
}

.header,
.footer {
	background-color: #999;
}

.sidebar2 {
	background-color: #ccc;
	color: #444;
}
